.App {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0%;
  background-color: #394a51;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.components {
  background-color: #394a51;
  margin: 4px;
  padding: 20px;
  font-size: 1.3em;
}

.footer {
position: fixed;
left: 0%;
bottom: 0%;
width: 100%;
background-color: #394a51;
color: #394a51;
}

.components-list {
  padding: 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  background-color: #394a51;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
} 

.wrap li {
  background: #7fa99b;
  margin: 4px;
  padding: 7px;
  font-size: 0.7em;
  border-radius: 5%;
}

.foodItem {
  /* padding: 5px;
  width: 100px;
  height: 100px; */
  /* margin: 10px; */
  border-radius: 10%;

  
  /* line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center; */
}

.inputBox {
  margin: 0px;
  padding: 5px;
  font-size: .7em;
  width: 24%;
}

.navBar {
  list-style-type: none;
margin: 0;
padding: 0px;
overflow: hidden;
display: flex;
justify-content: center;
background-color: #7fa99b;
font-size: 1.5em;

}

.nav_id {
  float: left;
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
padding-top: 3px;
padding-bottom: 3px;
font-size: 2em;
}

.nav_id:hover {
  background-color: #afc9c0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}
